<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest list</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <h1>Guest List</h1>
    <ul>
        <% guestsID.forEach(guestsID => { %>
            <li>
                <p>
                 <a href="/guestlist/<%= guestsID._id %>">
                    <%= guestsID.name %>
                </a>
                <%= guestsID.passType %></p>
            </li>
        <% }); %>
    </ul>

    <div>
        <a href="/guestCheckIn">Guest Check In</a>
    </div>
</body>
</html>