<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest Check-In</title>
</head>
<body>
    <h1>Guest Check-In</h1>

    <div>
        <label for="Name of Guest">Name</label>
        <input type="text" name="name" id="name">
    </div>
    <div class="checkbox-div">
        <label for="General-Pass">General Pass Holder?</label>
        <input type="checkbox" name="General-Pass" id="General-Pass"/>
        <label for="Sports-Pass">Sports Pass Holder?</label>
        <input type="checkbox" name="Sports-Pass" id="Sports-Pass"/>
        <label for="Premier-Pass">Premier Pass Holder?</label>
        <input type="checkbox" name="Premier-Pass" id="Premier-Pass"/>
      </div>
      <button type="submit">Submit</button>
    </form>
</body>
</html>